#main {
  display: flex;
}

.MuiSnackbarContent-root {
  color: white !important;
  background-color: #be3144 !important;
  font-family: "Raleway", sans-serif !important;
  text-align: center !important;
}

.MuiSnackbarContent-message {
  width: 100%;
}

.Typewriter{
  display: inline ;
}

@media screen and (max-width: 1024px) {
  #main {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {

  .Typewriter{
    display: block ;
  }

}