.navBarComponent,
.notFoundComponent,
.workComponent,
.contactComponent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95vh;
}

.workComponent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2.5rem;
}

.homeComponent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
}

.notFoundComponentHOne {
  margin: 0%;
  font-size: 10rem;
}

.notFoundComponentHFour {
  font-size: 2rem;
}

.notFoundComponentButton {
  font-family: "Raleway", sans-serif !important;
  color: #be3144 !important;
  border-color: #be3144 !important;
}

.navBarComponentHOne {
  font-size: 3rem;
  text-transform: capitalize;
}

.navBarComponentHOne:hover {
  cursor: pointer;
}

.navBarComponentListWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 10rem;
}

.navBarComponentFooter {
  position: relative;
  top: 15%;
  color: #b2b2b2;
  font-size: 1rem;
  text-align: center;
  width: 100%;
}

.navBarComponentFooter > a {
  text-decoration: none;
  color: #b2b2b2;
}

.timeLineWrapper {
  justify-content: center;
  width: 96%;
}

.workComponent:hover {
  cursor: pointer;
}

.homeComponentHeading {
  font-size: 4rem;
}

.homeComponentBody {
  font-size: 2rem;
}

.homeComponentText {
  padding: 0rem 2rem 0rem 1rem;
  box-sizing: border-box;
  width: 70%;
}

.homeComponentImageContainer {
  padding: 2rem 1rem 0rem 2rem;
  box-sizing: border-box;
  width: 30%;
}

.homeComponentImage {
  background-color: silver;
  border-radius: 50%;
  box-shadow: 0 0 0 9px hsl(0deg 0% 100% / 30%);
  max-width: 100%;
  height: auto;
}

.fsd {
  animation: fs 2s linear 0s infinite alternate;
}

@keyframes fs {
  0% {
    color: #be3144;
  }

  50% {
    color: #c05866;
  }

  100% {
    color: white;
  }
}

.skillComponent {
  display: grid;
  grid-template-columns: repeat(4, 20%);
  gap: 3rem 1rem;
  padding: 4%;
  justify-content: space-evenly;
}

.resumeComponent {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-sizing: border-box;
  padding: 2rem;
}

.resumeComponentButtonContainer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 5%;
}

.resumeComponentButton {
  width: 15rem;
  display: block !important;
  font-family: "Raleway", sans-serif !important;
  color: #be3144 !important;
  border-color: #be3144 !important;
}

.resumeComponentImageContainer {
  margin: 5rem;
}

.resumeComponentImage {
  width: 100%;
  height: auto;
}

.contactComponentHone {
  font-size: 5rem;
  margin-bottom: 1%;
}

.contactComponentHfour {
  font-size: 3rem;
  margin: 2% 0% 4% 0%;
}

.contactComponentIcons {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
}

.contactComponentLink {
  display: block;
}

.contactComponentIcon {
  color: #be3144;
  font-size: 4rem !important;
}

.contactComponentIconWa {
  height: 100%;
}

.projectComponent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.projectComponentHthree {
  font-size: 2rem;
  text-decoration: underline;
}

.projectComponentGrid {
  margin: 1%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem 1rem;
  align-items: flex-end;
}

@media screen and (max-width: 1100px) {
  .contactComponentHone {
    font-size: 4rem;
  }

  .contactComponentHfour {
    font-size: 2rem;
  }

  .contactComponentIcon {
    font-size: 3rem !important;
  }

  .projectComponentGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 1024px) {
  .navBarComponent {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 10vh;
    padding: 0% 3%;
  }

  .navBarComponentHOne {
    font-size: 2rem;
  }

  .navBarComponentListWrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 32rem;
    margin-left: auto;
  }

  .navBarComponentFooter {
    display: none;
  }

  .resumeComponentImageContainer {
    margin: 3rem;
  }

  .contactComponentHone {
    font-size: 4rem;
  }

  .contactComponentHfour {
    font-size: 3rem;
  }

  .contactComponentIcon {
    font-size: 4rem !important;
  }

}

@media screen and (max-width: 800px) {
  .homeComponent {
    flex-direction: column;
    height: auto;
  }
  .homeComponentText {
    text-align: center;
    width: 100%;
    margin-bottom: 1rem;
  }
  .homeComponentImageContainer {
    width: 100%;
    text-align: center;
  }

  .resumeComponentImageContainer {
    margin: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .navBarComponentListWrapper {
    width: 25rem;
  }

  .skillComponent {
    grid-template-columns: repeat(3, 30%);
  }

  .contactComponentIcons {
    width: 80%;
  }
}

@media screen and (max-width: 660px) {
  .contactComponentHone {
    font-size: 3.5rem;
  }

  .contactComponentHfour {
    font-size: 2.5rem;
  }

  .contactComponentIcon {
    font-size: 4rem !important;
  }

  .projectComponentGrid {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .navBarComponentListWrapper {
    width: 20rem;
  }
  .skillComponent {
    grid-template-columns: repeat(2, 40%);
  }

  .resumeComponentButtonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .resumeComponentButton {
    margin-bottom: 3rem !important;
  }
  .resumeComponentImageContainer {
    margin: 0rem;
  }

  .contactComponentHone {
    font-size: 3rem;
  }

  .contactComponentHfour {
    font-size: 2.5rem;
  }

  .contactComponentIcons {
    width: 100%;
    justify-content: space-between;
  }

  .contactComponentIcon {
    font-size: 4rem !important;
  }
}

@media screen and (max-width: 500px) {
  .navBarComponentListWrapper {
    width: 15rem;
  }
  .skillComponent {
    grid-template-columns: repeat(2, 50%);
  }
  .contactComponentHone {
    font-size: 2.5rem;
  }

  .contactComponentHfour {
    font-size: 2rem;
  }

  .contactComponentIcon {
    font-size: 4rem !important;
  }
}

@media screen and (max-width: 420px) {
  .contactComponentHone {
    font-size: 2rem;
  }

  .contactComponentHfour {
    font-size: 1.5rem;
  }

  .contactComponentIcon {
    font-size: 4rem !important;
  }
}

@media screen and (max-width: 400px) {
  .navBarComponentListWrapper {
    width: 13rem;
  }
  .skillComponent {
    grid-template-columns: repeat(2, 50%);
  }
}

@media screen and (max-width: 360px) {
  .navBarComponentHOne {
    display: none;
  }

  .navBarComponentListWrapper {
    width: 15rem;
  }
  .skillComponent {
    grid-template-columns: repeat(1, 60%);
  }
}
